[Unit]
Description=My Site
After=docker.service network.target
Requires=docker.service

[Service]
Type=oneshot
WorkingDirectory=/home/pi/my-site
ExecStart=/usr/bin/docker compose -f ops/compose.yaml up -d
ExecStop=/usr/bin/docker compose -f ops/compose.yaml down
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
